/* start box  */

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.f-wrap {
    flex-wrap: wrap;
}

.flex-2 {
    flex: 2;
}

.flex-1 {
    flex: 1;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.d-grid {
    display: grid;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

/* end box  */

/* start components  */
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}

/* end components  */

/* start margin + padding  */
.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.m-auto {
    margin: auto;
}

.ml-auto {
    margin-left: auto;
}

.m-0 {
    margin: 0;
}

.m-20 {
    margin: 20px;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-50 {
    margin-right: 50px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}


.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

/* end margin + padding  */

/* start width and height  */
.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.h-full {
    height: 100%;
}

/* end width and height  */

/* colors start  */
.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-green {
    background-color: var(--green);
}

.c-black {
    color: black;
}

.c-white {
    color: white;
}

.c-red {
    color: red;
}

.c-grey {
    color: var(--grey);
}

.c-blue {
    color: var(--blue);
}

.c-orange {
    color: var(--orange);
}

.c-green {
    color: var(--green);
}






:root {
    --box-shadow: 0 0 10px #ddd;
    --main-transition: .3s;
    --blue: #0075ff;
    --blue-alt: #0d69d5;
    --orange: #f59e0b;
    --green: #22c55e;
    --grey: #888;
    --red: red;
    --border-color: #ccc;
}

/* colors end  */

/* start position  */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* end position  */

/* start font  */
.txt-c {
    text-align: center;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-20 {
    font-size: 20px;
}

.fs-25 {
    font-size: 25px;
}

.f-bold {
    font-weight: 600;
}

.f-normal {
    font-weight: normal;
}

.txt-decoration {
    text-decoration: line-through;
}

.resize {
    resize: none;
    min-height: 150px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

/* end font  */

/* start border  */
.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-50 {
    border-radius: 50%;
}

.b-none {
    border: none;
}

.border-bottom {
    border-bottom: 1px solid #eee;
}

/* end border  */

/* start media  */
@media (max-width:767px) {
    .hide-mobile {
        display: none
    }

    .block-mobile {
        display: block;
    }

    .txt-center-mobile {
        text-align: center !important;
    }

    .f-column {
        flex-direction: column;
    }

    .center-flex-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mb-10-mobile {
        margin-bottom: 10px;
    }

    .flex-start-mobile {
        justify-content: flex-start;
    }
}

@media (max-width:991px) {
    .center-flex-medium {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* end media  */

.txt-right {
    text-align: right;
}

.cursor-pointer {
    cursor: pointer;
}

.c-red {
    color: red;
}